
// Fonts
// @import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// .navbar-laravel {
//   background-color: #fff;
//   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
// }

body {
  background-color: #E6ECF0;
  padding: 0 20px;
}

.navBar ul {
    display: flex;
    flex-wrap: nowrap;
}

.navBar li {
    flex: 1;
    padding: 20px;
}

.navBar li:nth-of-type(3) {
    flex: 1;
}

.navBar i {
    padding: 0 7.5px;
}

img {
width: 65px;
border-radius: 50px;
}

.tweets img {
  width: 65px;
  border-radius: 50px;
  float: left;
  margin: 27.5px 10px;
}

img {
  margin-left: 10px;
}

li {
  list-style: none;
  padding: 0;
}

.tweets li {
  border: 1px #ddd solid;
  border-left: none;
  border-right: none;
  padding-top: 10px;
  padding-bottom: 10px;
  background: white;
  display: inline-block;
}

.tweets li:nth-child(1n) {
  border-bottom: none;
}

.tweetIcons i {
  padding-right: 20px;
}

.tweets li:hover {
  background-color: #F5F8FA;
}

.tweets li:nth-of-type(1):hover {
  background-color: white;
}

.name {
  font-weight: bold;
}

.atname,
.icons,
.time {
  color: #525f6b;
}

.users li {
  width: 150px;
  background-color: white;
}

h2 {
  font-size: 18px;
  font-weight: bold;
}

.tweets ul {
    display: flex;
}

.tweetsMenu li {
      display: inline-block;
      background-color: white;
      padding: 0;
      border: none;
}

.tweetsMenu li {
    width: 279px;
}

a {
    color: black;
}

.tweetsMenu a:hover {
    border-bottom: blue;
    background-color: white;
}
